window.Movements ||= {}

Movements.currentMovementKind = null
Movements.currentClient = null

Movements.focusin = ->
  setTimeout(
    ->
      $('#q').focus()
    , 1000
  )

Movements.showSwalError = (msg) ->
  swal(
    title: 'Error'
    text: msg || 'Oops hubo un problema...'
    type: 'error'
    showConfirmButton: true
    allowOutsideClick: true
    allowEscapeKey: true
    onClose: Movements.focusin
  )

Movements.askForAmount = (client) ->
  Movements.currentClient = client

  swal(
    title: "<h3>#{client.label} <small>(#{client.identifier})</small></h3>"
    html: "<h5>Tiene $#{parseFloat(client.amount).toFixed(2)} <br /> <span class='future-amount'></span><h5>"
    input: 'number'
    inputAttributes: {
      min: '0'
      step: '.01'
      autofocus: true
    }
    inputValidator: (value) ->
      if parseFloat(value) <= 0
        'Ingrese un valor mayor a 0.0'
    confirmButtonText: if Movements.currentMovementKind == 'credit' then 'Cargar' else 'Debitar'
    inputClass: 'movement-amount-field'
    allowEscapeKey: true
    allowOutsideClick: true
    onClose: Movements.focusin
  ).then(
    (result) ->
      if result && result.value
        Movements.createMovementForClient(client, result.value)
      else
        Movements.focusin()
  )

Movements.createMovementForClient = (client, amount) ->
  $.ajax(
    url: '/movements',
    type: 'POST'
    data: {
      movement: {
        client_id: client.id,
        amount: amount,
        kind: Movements.currentMovementKind
      }
    }
    dataType: 'JSON'
    success: (response) ->
      swal(
        title: 'Exito'
        text: 'El movimiento se cargo correctamente'
        timer: 1000
        type: 'success'
        showConfirmButton: true
        allowOutsideClick: true
        allowEscapeKey: true
        onClose: ->
          $("tr##{response.id}").effect("highlight", {color: '#bce8f1'}, 2500)
          Movements.focusin()
      )
      Movements.currentMovementKind = null
      Movements.currentClient = null
      $("tr##{response.id}").replaceWith(response.row)

    error: Movements.showSwalError
  )

$(document).on 'click', '[data-add-movement-to-client]', (e) ->
  e.preventDefault()
  e.stopPropagation()

  link = $(e.currentTarget)

  Movements.currentMovementKind = link.data('add-movement-to-client')
  Movements.askForAmount(link.data('client'))

$(document).on 'change keyup', '.movement-amount-field', (e) ->
  fieldAmount = parseFloat($(e.currentTarget).val() || Movements.currentClient.amount)
  clientAmount = parseFloat(Movements.currentClient.amount)

  if Movements.currentMovementKind == 'credit'
    newAmount = clientAmount + fieldAmount
  else
    newAmount = clientAmount - fieldAmount

  if newAmount > 0
    text = '<%= I18n.t(:credit, scope: [:view, :movements, :future_amount]) %>'
  else
    text = '<%= I18n.t(:debit, scope: [:view, :movements, :future_amount]) %>'

  $('.future-amount').html( text + String( Math.abs(newAmount.toFixed(2)) ) )


